<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Cadastro Cliente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
</head>
<body>

<!--background: linear-gradient(#142010, #0A7D0F)-->
<div style="background-image: linear-gradient(to left bottom, #143c10, #122f0f, #11220c, #0b1706, #010500);height:80%;width:100vw;display:flex;justify-content:center;align-items:center">
    <form action="/logar" method="post" style="background-color:white;height:50%;width:50%;padding: 10vh;
margin: 10vh 0;
border-radius: 5%;">
        <div class="mb-3">
            <label  for="validationDefault01"  class="form-label">Seu nome</label>
            <input  name="name" class="form-control" id="validationDefault01"  required >
        </div>
        <div class="mb-3">
            <label  class="form-label">Seu sobrenome</label>
            <input  name="sobrenome" class="form-control" id="SOBRENOME" aria-describedby="emailHelp" required>

        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input name="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
        </div>
        <div class="mb-3">
            <label class="form-label">CEP</label>
            <input  class="form-control" id="CEP" required="required" name="cep" pattern="[-0-9]+">
            <div  id="SenhaHelp" class="form-text">ESCREVA SOMENTE NUMEROS</div>

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input name="senha" type="password" class="form-control" id="exampleInputPassword1" required>
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword2" class="form-label">Repita sua senha</label>
            <input  name="validarSenha" type="password" class="form-control" id="exampleInputPassword2" required>
        </div>

        <button  stype="submit" class="btn btn-primary">CADASTRAR</button>
    </form>

</div>
</body>
</html>