<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Contas</title>
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous">
</head>
<body class="p-3 m-0 border-0 bd-example">

<table class="table">
    <thead>
    <tr>
        <th scope="col">Banco</th>
        <th scope="col">valor Disponivel</th>
        <th scope="col">Ultima movimentação</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="conta:${contas}" th:if="${conta.flag== T(com.example.processador.model.conta.dto.EnumFlag).Ativo}">
        <td th:text="${conta.banco}"></td>
        <td th:text="${conta.valorDisponivel}"></td>
        <td th:text="${conta.ultimaMovimentacao}"></td>
    </tr>
    </tbody>
</table>


<form action="/home" method="post"
      style="background-color:white;
                height:50%;width:40%;padding: 10vh;
                margin:10vh 0;border-radius: 5%;padding-left: 0vh;">
    <div style="display:none" class="mb-3">
        <input th:value="${session.cliente.email}" name="email" type="email" class="form-control"
               id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>

    <div style="display:none" class="mb-3">
        <input th:value="${session.cliente.senha}" name="senha" type="password" class="form-control"
               id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-primary">Voltar</button>
</form>
</body>
</html>